/* 
    Styles for the landlord portal.
*/

.bg-azure {
    background-color: #6CD4FF;
}

.bg-washed-pink {
    background-color: #D496A7;
}

.bg-kanegray {
    background-color: #5D576B;
}

.bg-gold {
    background-color: gold;
}

.bg-bronze {
    background-color: #CD7F32;
}

.bg-silver {
    background-color: silver;
}

.text-gold {
    color: gold;
}

.text-bronze {
    color: #CD7F32;
}

.text-silver {
    color: silver;
}

.profile-pic img {
    width: 40px;
    height: 40px;
}
